.main-data {
  .ant-card-body {
    .ant-statistic {
      color: white;
    }
  }
  .ant-carousel .slick-dots-bottom {
    bottom: 0;
  }

  .ant-statistic {
    .ant-statistic-content {
      // display: flex;
      // flex-direction: row;
      .ant-statistic-content-prefix {
        // display: flex;
        // justify-content: center;
        .action-arrow-up {
          bottom: 5px;
        }
      }
    }
  }
}
