.affix-col {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
  padding-right: 100px;
}

.affix-btn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 40px !important;
  width: 40px;
  padding: 0 !important;
  background-color: rgba(0, 0, 0, 0.45) !important;
  border: none !important;
  color: white !important;
  &:hover {
    background-color: rgba(0, 0, 0, 0.65) !important;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.45) !important;
  }
  &-lang {
    @extend .affix-btn;
  }
  &-github {
    @extend .affix-btn;
    font-size: 20px !important;
  }
}