.open-layer-map {
  width: 100%;
  height: 650px;
  min-width: 500px;

  .ol-popup {
    padding: 0 !important;
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px, rgba(0,0,0,0.2);
    border-radius: 6px;
    border: none !important;
    min-width: 200px;
    padding: 10px;
  }
}


.data-list {
  height: 650px !important;
  overflow: scroll;
}



