.ant-popver-inner-content {
  width: 500px !important;
}

.trend-chart {
  height: 300px;
  width: 450px;
}

.ant-input-suffix {
  display: flex;
  align-items: center;
}

.ant-btn-icon-only {
  display: flex !important;
  align-items: center;
  justify-content: center;
}